<div class="containe mt-4 ms-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold"><i class="fa fa-plus-circle">&nbsp;
                </i>Add Contact</p>
            <p class="fst-italic ">
                ghhfgchwjmcdfkadvcjmn ckjagc
            </p>
        </div>
    </div>
</div>
<!-- <pre>{{group |json}}</pre> -->

<!-- <pre>{{contact |json}}</pre> -->
<!--Contact Form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="" (submit)="addsubmit()">

                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.name" name="name"class="form-control" placeholder="Name" required>
                </div>
                <div class="mb-2">
                    <input type="text"[(ngModel)]="contact.photo" name="photo" class="form-control" placeholder="photo url" required>
                </div>
                <div class="mb-2">
                    <input type="email" [(ngModel)]="contact.email" name="email"class="form-control" placeholder="Email" required>
                </div>
                <div class="mb-2">
                    <input type="number" [(ngModel)]="contact.mobile" name="mobile"class="form-control" placeholder="Mobile No." required>
                </div>
                <div class="mb-2">
                    <input type="text"[(ngModel)]="contact.company" name="company" class="form-control" placeholder="company" required>
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.title" name="title"class="form-control" placeholder="Title" required>
                </div>
                <div class="mb-2">
                    <select  [(ngModel)]="contact.groupID" name="groupID" *ngIf="group.length>0" class="form-control">
                        <option [value]="group.id" *ngFor="let group of groups ">{{group.name}}</option>
                    </select>

                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-success" value="create">
                    <a routerLink="/" class="btn btn-warning ms-2">Close</a>
                </div>

            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo"
                class="contact-img" alt="contact-photo">
        </div>
    </div>
</div>